<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Actualizare</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Automată</string>
			<key>Key</key>
			<string>sAutomaticUpdate</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Titles</key>
			<array>
				<string>Cursul licitat</string>
				<string>Cursul valabil</string>
			</array>
			<key>Values</key>
			<array>
				<string>Cursul licitat</string>
				<string>Cursul valabil</string>
			</array>
			<key>DefaultValue</key>
			<string>Cursul licitat</string>
			<key>Title</key>
			<string>Aplicaţia afisează:</string>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Key</key>
			<string>currencyModeKey</string>
		</dict>
	</array>
</dict>
</plist>
